<!DOCTYPE html>
<html lang="en">



  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="1.css" />
    <script src="jquery-3.4.1.min.js"></script>
    <script src="1.js"></script>
  </head>




  <body>
    <header>
      <div class="header-block">
        <div class="header-block-1">
          <nav>
            <a href="#" class="nav-link">Главная</a>
            <a href="#part-footer" class="nav-link" name="bottom">О нас</a>

          <form class="form-for-area-for-search">
            <input type="search" class="area-for-search">
            <button type="submit" class="button-search">Поиск</button>
          </form>
        </nav>
        </div>
        <div class="header-block-2">
          <form action="#" class="form-for-button-reg">
            <button type="submit" class="button-reg"> АВТОРИЗАЦИЯ</button>
          </form>
          <form action="#" class="form-for-button-reg">
            <button type="submit" class="button-reg-1">
             РЕГИСТРАЦИЯ
            </button>
          </form>
        </div>
      </div>
      <h1 class="type-it">#Back-end</h1>
    </header>


    <main>
      <div class="main-content">

        <div class="box-for-select">
         <span>
           <p class="name-select"><span> По дате: &nbsp</span> </p>

           <!-- <p class="icon-select"><span></span></p> -->

          </span>
          <option value="">Сначала новые</option>
          <option value="">Сначала старые</option>
        </div>


        <em>3 Марта,2020</em>
        <h2 class="name-block">Сущность бэк-енда</h2>
        <img src="cnovatornovator.jpg" alt="" class="image-for-main-content">
        <p class="block-content">
          Здесь комментарии тоже не нужны: функции сами говорят, что делают (если вы понимаете английский язык). И ещё, структура кода лучше, когда он разделён на части. Понятно, что делает каждая функция, что она принимает и что возвращает.
        </p>

        <form action="#" class="form-for-read-more">
          <button type="submit" class="button-read-more"> Читать далее</button>
        </form>


        <em>3 Марта,2020</em>
        <h2 class="name-block">Lorem ipsum dolor sit.</h2>
        <img src="cnovatornovator.jpg" alt="" class="image-for-main-content">
        <p class="block-content">
          Здесь комментарии тоже не нужны: функции сами говорят, что делают (если вы понимаете английский язык). И ещё, структура кода лучше, когда он разделён на части. Понятно, что делает каждая функция, что она принимает и что возвращает.
        </p>

        <form action="#" class="form-for-read-more">
          <button type="submit" class="button-read-more">Читать далее</button>
        </form>
        <em>3 Марта,2020</em>
        <h2 class="name-block">Lorem ipsum dolor sit.</h2>
        <img src="cnovatornovator.jpg" alt="" class="image-for-main-content">
        <p class="block-content">
          Здесь комментарии тоже не нужны: функции сами говорят, что делают (если вы понимаете английский язык). И ещё, структура кода лучше, когда он разделён на части. Понятно, что делает каждая функция, что она принимает и что возвращает.
        </p>

        <form action="#" class="form-for-read-more">
          <button type="submit" class="button-read-more"> Читать далее</button>
        </form>
      </div>

      <div class="side-bar">
        <div class="select-link">
          <a>Последние посты</a>
          <a>Популярные посты</a>
          <a>Набирающие популярность</a>
        </div>
        <div class="side-bar-content">
          <ul class="side-bar-links ">
            <li><a href="#">11111111</a></li>
            <li><a href="#">11111111</a></li>
            <li><a href="#">11111111</a></li>
            <li><a href="#">11111111</a></li>
            <li><a href="#">11111111</a></li>
            <li><a href="#">11111111</a></li>
            <li><a href="#">11111111</a></li>
            <li><a href="#">11111111</a></li>
            <li><a href="#">11111111</a></li>
            <li><a href="#">11111111</a></li>
          </ul>
          <ul class="side-bar-links side-bar-links-hide ">
            <li><a href="#">222222</a></li>
            <li><a href="#">222222</a></li>
            <li><a href="#">222222</a></li>
            <li><a href="#">222222</a></li>
            <li><a href="#">222222</a></li>
            <li><a href="#">222222</a></li>
            <li><a href="#">222222</a></li>
            <li><a href="#">222222</a></li>
            <li><a href="#">222222</a></li>
            <li><a href="#">222222</a></li>
          </ul>
          <ul class="side-bar-links side-bar-links-hide">
            <li><a href="#">333333333</a></li>
            <li><a href="#">333333333</a></li>
            <li><a href="#">333333333</a></li>
            <li><a href="#">333333333</a></li>
            <li><a href="#">333333333</a></li>
            <li><a href="#">333333333</a></li>
            <li><a href="#">333333333</a></li>
            <li><a href="#">333333333</a></li>
            <li><a href="#">333333333</a></li>
            <li><a href="#">333333333</a></li>
          </ul>
        </div>
      </div>

    </main>



    <footer id="part-footer">
      <a href="#" name="#bottom"></a>
      <div class="information">
        <p>ОАО*****</p>
        <p>Адрес:</p>
        <p>Тел.</p>
        <p>Тел.</p>
      </div>
    </footer>

  </body>
</html>
