


<!-- Sidebar Widgets Column -->

  <div class="select">
    <a>Последние посты</a>
    <a>Популярные посты</a>
    <a>Набирающие популярность</a>
  </div>
  <div class="side-bar-content">
    <ul class="side-bar-links side-bar-links-1">
      <li><a href="#">11111111</a> </li>
      <li><a href="#">11111111</a> </li>
      <li><a href="#">11111111</a> </li>
      <li><a href="#">11111111</a> </li>
      <li><a href="#">11111111</a> </li>
    </ul>
    <ul class="side-bar-links side-bar-links-2">
      <li><a href="#">222222</a> </li>
      <li><a href="#">222222</a> </li>
      <li><a href="#">222222</a> </li>
      <li><a href="#">222222</a> </li>
      <li><a href="#">222222</a> </li>
    </ul>
    <ul class="side-bar-links side-bar-links-3">
      <li><a href="#">333333333</a> </li>
      <li><a href="#">333333333</a> </li>
      <li><a href="#">333333333</a> </li>
      <li><a href="#">333333333</a> </li>
      <li><a href="#">333333333</a> </li>
    </ul>
  </div>
